@import "../../common/styles/colors", "../../common/styles/fonts",
  "../../common/styles/mixins";

.create-post-card {
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: clamp(300px, 95%, 650px);
  padding: 1rem 1rem 0.1rem 1rem;
  margin-top: 1rem;
  background-color: $card-bg-color;

  .header {
    display: flex;
    gap: 0.15rem;
    margin: 0.2rem 0 0.8rem 0;
    cursor: pointer;

    .author-img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-right: 6px;
    }
    .author {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      line-height: 1;
    }
    .author-name {
      color: $text-color-dark;
      font-weight: 600;
      font-size: map-get($map: $font-sizes, $key: "S");
    }
    .author-designation {
      color: $text-color-lighter;
      font-size: map-get($map: $font-sizes, $key: "XS");
    }
  }

  form#create-post {
    .ant-form-item {
      margin-bottom: 18px;
      
    }
    .ant-form-item.ant-form-item-has-error {
      margin: 0;
    }
    .post-tags {
      max-width: 500px;
    }
    .upload-media-icon {
      font-size: map-get($map: $font-sizes, $key: "XL");
      margin-bottom: 1rem;
    }
    .post-form-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    .post-form-btn button {
      background-color: $primary;
      border: none;
      font-family: $font-secondary;
      &:hover {
        background-color: $primary-light;
      }
    }
  }
}
