
$primary-dark: #21255e;
$primary: #5345cf;
$primary-light: #7879F1;
$primary-ligher: #A5A6F6;

$secondary-dark: #1f1235;
$secondary: #301e4e;
$secondary-light: #67568c;

$highlight: #ff6e6c;

$text-color-dark: #0d0418;
$text-color: #1f1235;
$text-color-light: #4a4258;
$text-color-lighter: #7b797e;