@import "../../common/styles/colors", "../../common/styles/fonts",
  "../../common/styles/mixins";

.nav {
  background: $primary-dark;
  display: flex;
  justify-content: space-between;
  padding: 0px 0.8rem;
  position: sticky;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo > div {
    color: invert($color: $text-color-dark);
    border: 2px solid invert($color: $text-color-dark);
    font-family: $font-secondary;
    font-size: map-get($map: $font-sizes, $key: "XL");
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3px 5px;
    margin: 8px 0px;
  }

  @include mobile {
    .logo > div {
      font-size: map-get($map: $font-sizes, $key: "S");
    }
  }
  .nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    @include mobile {
      & {
        gap: 10px;
      }
    }

    a {
      font-size: map-get($map: $font-sizes, $key: "M");
      font-weight: 600;
      border-bottom: 3px solid transparent;
      margin-top: 3px;
    }
    @include mobile {
      a {
        font-size: map-get($map: $font-sizes, $key: "S");
      }
    }
    a.active {
      border-bottom: 3px solid $primary-light;
    }
    button:last-child {
      margin-left: 2rem;
      background-color: $primary;
      border: none;
      font-family: $font-secondary;

      &:hover {
        background-color: $primary-light;
      }

      @include mobile {
        margin-left: 5px;
        font-size: map-get($map: $font-sizes, $key: "XS");
        height: 28px;
        padding: 2px 8px;
      }
    }
  }
}
